body {
    background-color: #ABABAB;
    color: #A55E66;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}
label{
    font-weight: 800;
}
input[type="radio"]{
    vertical-align: bottom;
}


.spacing {
    padding-left: 7rem;
}

.spacing2 {
    padding-left: 11rem;
}

.spacing3 {
    padding-left: 6.5rem;
}

.spacing4 {
    padding-left: 3rem;
}

.survey{
    margin-left: 30%;
    margin-right: 30%;
    background-color: #E4E4E4;
}
.main{
    padding-left: 1rem;
}

.question{
    font-weight: bolder;
}
.btn {
    background: #464647;
    background-image: -webkit-linear-gradient(top, #464647, #808080);
    background-image: -moz-linear-gradient(top, #464647, #808080);
    background-image: -ms-linear-gradient(top, #464647, #808080);
    background-image: -o-linear-gradient(top, #464647, #808080);
    background-image: linear-gradient(to bottom, #464647, #808080);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 50px 10px 50px;
    border: 0;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #6e1026;
    background-image: -webkit-linear-gradient(top, #6e1026, #6e141a);
    background-image: -moz-linear-gradient(top, #6e1026, #6e141a);
    background-image: -ms-linear-gradient(top, #6e1026, #6e141a);
    background-image: -o-linear-gradient(top, #6e1026, #6e141a);
    background-image: linear-gradient(to bottom, #6e1026, #6e141a);
    text-decoration: none;
    border: 0;
  }

  #date2 {
    color:grey; 
    font-size:0.5rem; 
    font-weight:bold;
  }
  #date{
    width: 9rem;
  }
  
  #comments{
      margin-top: 10px;
  }
